# Flutter
.flutter-plugins
.flutter-plugins-dependencies
.packages
.idea/
build/
ios/Flutter/.last_build_id
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Pods/

# React
node_modules/
build/
.env